In [54]:
import pandas as pd
from pandas_datareader import data as web
from datetime import datetime, timedelta

In [55]:
initial_datetmp = datetime.now() - timedelta(365)
initial_date = initial_datetmp.date()
print(initial_date)

2019-11-18

In [56]:
# criar um DataFrame vazio
df = pd.DataFrame()

In [57]:
# escolher a ação desejada
acao = 'HGRU11.SA'# importar dados para o DataFrame
df = web.DataReader(acao, data_source='yahoo', start=initial_datetmp)
# ver as 5 primeiras entradas
df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-11-19,124.000000,120.800003,124.000000,121.000000,21721.0,121.000000
2019-11-21,123.000000,118.500000,122.919998,121.129997,15453.0,121.129997
2019-11-22,122.489998,120.320000,122.489998,121.830002,2759.0,121.830002
2019-11-25,121.800003,118.790001,121.800003,120.050003,5234.0,120.050003
2019-11-26,121.000000,119.540001,120.980003,120.010002,8433.0,120.010002

In [58]:
print(df['Close'].mean())
print(df['Close'].std())

126.18780489665706
9.250760856366298